<div class="grid-container">
    <div class="wrapper">
        <div class="box a">
            <h2>Patient Details</h2>
            <div class="patient-feilds">
                <label>Hospital Number</label>
                <input type="text">
                <label>PostCode</label>
                <input type="text">
                <label>First Name</label>
                <input type="text">
                <label>Country of Birth</label>
                <input type="text">
                <label>Last name</label>
                <input type="text">
                <label>Prefered Language</label>
                <input type="text">
                <label>Title</label>
                <input type="text">
                <label>Mobile Number</label>
                <input type="text">
                <label>Date of Birth</label>
                <input type="text">
                <label>Home Number</label>
                <input type="text">
                <label>Gender</label>
                <input type="text">
                <label>Email</label>
                <input type="text">
                <label>Address</label>
                <input type="text">
            </div>
        </div>
        <div class="box b">
            <h2>Library Fields</h2>
            <div class="library-feilds">
                <app-grid-two></app-grid-two>
                <!-- <label>ECOG Status</label>
                <label>Likert Scale</label>
                <label>VAS Breathlessness</label>
                <label>VAS Pain</label>
                <label>Fluid Drain</label>
                <label>Quality of Life</label> -->
            </div>
        </div>
        <div class="box c">
            <button class="toggle-btn" (click)=startSpinner()>Loading Spinner</button>
        </div>
        <div class="box d">D</div>
    </div>
</div>