<h1 class="title has-text-centered is-1">Dashboard Demo</h1>
<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical is-clickabl">
          <article class="tile is-child notification hover-anim tile-1">
            <p class="title">Tile One</p>
          </article>
          <article class="tile is-child notification hover-anim tile-2">
            <p class="title">Tile Two</p>
          </article>
          <article class="tile is-child notification hover-anim tile-3">
            <p class="title">Tile Three</p>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification tile-4 hover-anim">
          <p class="title">Tile Four</p>
          <div class="content">
            <!-- Content -->
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification tile-5 hover-anim">
        <div class="content">
          <p class="title">Tile Five</p>
          <div class="content">
            <!-- Content -->
          </div>
        </div>
      </article>
    </div>
  </div>

  <!-- <article class="tile is-child notification is-info">
    <p class="title">Middle tile</p>
    <p class="subtitle">With an image</p>
    <figure class="image is-4by3">
      <img src="https://bulma.io/images/placeholders/640x480.png">
    </figure>
  </article> -->