p {
    color: black;
}

.container {
    width: 80%;
    color: black;
}

.toggle-btn {
    width: 80px;
}

.error{
    float: right;
    color: crimson;
    font-size: xx-large;
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
}