/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    width: 100%;
    max-width: none;
}

.toggle-btn {
    margin: 10px;
    cursor: pointer;
    background-color: #005CB9;
    border-radius: 5px;
    color: whitesmoke;
    padding: 5px;
    font-weight: bold;
    outline: none;
    border: none;
}