<div class="container p-5">
    <h1 class="title mt">Member Dashboard</h1>

    <div class="tile is-ancestor">

        <div class="tile is-parent is-vertical">
            <article class="tile is-child my-t t-anim">

                <div class="columns m-1">
                    <div class="column is-narrow">
                        <figure>
                            <img class="image profile-pic" src="../../../assets/images/grogu.jpg" alt="">
                        </figure>
                    </div>
                    <div class="column">
                        <h1 class="title mt-4 has-text-left">Profile Info</h1>
                    </div>
                  </div>
            </article>
        </div>

        <div class="tile is-parent is-vertical">
            <article class="tile is-child my-t t-anim">

            </article>
            <article class="tile is-child my-t t-anim">

            </article>
            <article class="tile is-child my-t t-anim">

            </article>
        </div>

        <div class="tile is-parent is-vertical">
            <article class="tile is-child my-t t-anim">

            </article>
            <article class="tile is-child my-t t-anim">

            </article>
            <article class="tile is-child my-t t-anim">

            </article>
        </div>

    </div>

</div>